.newsitem_container {
  border: 3px solid black;
  border-radius: 5px;
  width: 380px;
  height: 400px;
}
.newsitem_header {
  font-size: 22px;
}

.newsitem_image {
  width: 380px;
  height: 200px;
}

.newsitem_link {
  color: black;
}

/* MEDIA */

@media (max-width: 768px) {
  .newsitem_container {
    width: 100wh;
    margin: 0 auto;
  }
}